form {
	label {
		line-height: 38px;
	}
}

.article {
	margin-top: 20px;
}

.article-list {
	margin-top: 20px;

	a {
		font-size: 14px;
		line-height: 1.2em;
		padding: .5rem 1rem;
	}
}

.loader {
	text-align: center;
	margin: 10px 0;
}
